@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container-home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.left-container{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.left-container-header{
  display: flex;
  align-items: center;
  height: 10vh;
}
.message-Container{
  height: 95vh;
  display: flex;
  flex-direction: row;
}

.left-messageContainerlist{

}
.friendsList{
  list-style: none;
  padding: 10px 0px;
}
.left-messageContainer{
  width: 25%;
  height: 100%;
  overflow: auto;
}
.profilePic-left{
  height: 35px;
  width: 35px;
  background-color: rgb(21, 0, 255);
  border-radius: 50px;
  margin-right: 10px;
}
.right-messageContainer{
  width: 75%;
  height: 100%;

}
.friendsList:hover{
  background: #efefef;

}

.header-messageBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
}
.main-messageBox{
  width: 100%;
  height: 75%;
  overflow: auto;
}
.alignment{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.senderMsg{
  max-width: 90%;
  background-color: thistle;
  margin: .5% 0%;
  float: right;
  border-radius: 0px 20px 0px 20px;
  padding: 1% 2%;
  font-size: 14px;
}
.reciverMsg{
  float: left;
  max-width: 90%;
  background-color: tan;
  margin: .5% 0%;
  border-radius: 20px 0px 20px 0px;
  padding: 1% 2%;
  font-size: 14px;
}


.footer-messageBox{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.messageTextBox{
  height: 80%;
  width: 90%;
  outline: none;
  border: none;
  padding:10px 20px ;
  font-size: 18px;
  resize: none;
  border: .1px solid rgba(0, 0, 0, 0.457);
}
.sendBtn{
  width: 10%;
  height: 80%;
  border: none;
  background-color: green;
  color: #efefef;
}
.messageTextBox::-webkit-scrollbar {
  display: none;
}

.right{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: none;
  
}

.right-container-header{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
.header-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.profilePic{
  height: 45px;
  width: 45px;
  background-color: rgb(21, 0, 255);
  border-radius: 50px;
  margin-right: 10px;
}

.right-container{
  height: 75vh;
  display: flex;
  justify-content: center;
  width: 75%;
    
}

.home-sub-container{
    width: 100%;
}
::selection{
  color: #fff;
  background: #664AFF;
}

.home-sub-container .searchInput{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(54, 54, 54, 0.12);
}

.searchInput input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;

}

.searchInput.active input{
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li{
  list-style: none;
  padding: 15px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}


.searchInput.active .resultBox li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resultBox li:hover{
  background: #efefef;
}
.add-btn{
  background-color: #644bff;
  border: none;
  padding: 7px 25px;
  color: rgb(240, 240, 240);
  font-size: 11px;
  cursor: pointer;
}
.searchResult-dropdown p{
  font-size: 18px;
  font-weight: 400;
}
.searchInput .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}